{% extends "auctions/layout.html" %}


{% block body %}
    <h2 class="page-title">Active Listings</h2>


    <div class="flexbox-listings">
        {% for listing in listings  %}
        {% if listing.is_active  %}
    
        <div class="active-listing">
    
            <div class="listing-image">
                <a href="{% url 'auctions:listing' listing.id %}">
                {% if not listing.image %}                
                    <img src="https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg" alt="" srcset="">
                {% else %}
                <img src={{listing.image}} alt="" srcset="">
                {% endif %}
                </a>
            </div>
            
            <div class="listing-text">
                <a href="{% url 'auctions:listing' listing.id %}">{{listing.title|truncatechars:13}}</a>
                <br>{{ listing.description|truncatechars:45 }}</br>
                {% if listing.highest_bid %}
                <siv class="price">$ {{listing.highest_bid}}</siv>
                {% else %}
                <div class="price">$ {{listing.starting_price}}</div>
                {% endif %}
            </div>
            
        </div>
        {% endif %}
    {% endfor %}
    </div>
    
    
{% endblock %}


