{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="logo">Auctions</div>
            <div>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                    <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:index_categories' %}">Categories</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auctions:create_listing' %}">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <hr>
        </div>
       
        {% block body %}
        {% endblock %}
    </body>
</html>
